$paddingleft:5px;

.social_padding{
    padding-left: $paddingleft;
}

.footer_position{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        right: 10px;
        list-style: none !important;
        justify-content: flex-end;
        
}

.footer_padding{
    padding-left: 0%;
    padding-right: 0%;
}

.menu_padding{
    padding-left: 0%;
    padding-right: 0%;
}
.flecha_position{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.footer_marginAbajo{
    margin-bottom: 0%;
}
.footer_colorFondo{
    background-color: white;
    height: 50px;
}